/target
samples
flo.toml
.env
*.iml
.idea/modules.xml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
/build/release
/logs
/flo-logs
/data
/crates/observer-consumer/data
/crates/observer-fs/data

# Config files
*.json

/.idea
.DS_Store
