name: Docs

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  cargo-doc:
    runs-on: ubuntu-latest
    steps:
      - name: Install Packages
        run: sudo apt-get install libavahi-compat-libdnssd-dev
      - uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.PAT }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Generate
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --no-deps
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.PAT }}
          publish_dir: ./target/doc
